
/*****GLOBAL*****/
html{
    background-color: pink;
    
}






/*****SEGUNDA BARRA*****/



.sobremim{
    font-family: 'Jura', sans-serif;
    background-color: pink;
    display: flex;
    gap: 100px;
    justify-content:center;
    flex-direction: row-reverse;
    align-items: center;
    margin: 20px 10% ;
    

}

.sobremim > img{
    border-radius: 180px;
    width: 247px;
    height: 247px;

}

.sobremim > h5{
    width: 250px;
    font-size: 14px;
}

/*****PRIMEIRA BARRA*****/

header{
    font-family: 'Passion One', cursive;
    background-color: rgb(234, 35, 108); 
    height: Hug (70px);
    top: 731px;
    padding: 16px 32px 16px 32px;
    display: flex;
    justify-content: space-between;
    
}

.links{
    display: flex;
    gap: 10px;
}

.links a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.links a:visited{
    color: black;
}

.links a:hover{
    color:aliceblue
}

/*****RODAPÉ*****/

div.rodapé{
    background-color: rgb(234, 35, 108);
    width: Fixed (1,440px);
    height: Hug (70px);
    top: 731px;
    padding: 16px 32px 16px 32px;
    margin-top: 80px;
    display: flex; 
    justify-content: end;
    flex-wrap: wrap;

}

/*****TERCEIRO BARRA*****/

div.descrições{
    font-family: 'Jura', sans-serif;
    background-color: rgba(255, 255, 255, 0.614);
    padding: 20px;
    display:flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 40px;

}

.imagem{
    display: inline-block;
    height:150px;
     width:102px;

}

.imagem > img{
    border-radius: 20px;
}

.imagem > p{
    font-size: 12px;
}

.content-hobbies, .content-top5{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

.hobbies > p {
    text-align: end;
    
}

.tags{
    background-color:rgba(255, 255, 255, 0.614);
    padding-top: 0.5%;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-evenly;
    
}


@media(max-width:800px){
    .sobremim{
        flex-direction: column-reverse;
    }

}

@media(max-width: 500px){
    .hobbies, .top5{

        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .hobbies > p, .top5 > p{
        text-align: center;
    }
    .content-hobbies, .content-top5{
        justify-content: center;
    }
}
